<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-active" href="index.html">
            <img src="/assets/icons/palladium.png" alt="Palladium">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
            <span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="network.html">Network</a>
            <a class="navbar-item" href="get_started.html">Get started</a>
            <a class="navbar-item" href="mining.html">Mining</a>
            <a class="navbar-item" href="roadmap.html">Roadmap</a>
            <a class="navbar-item" href="https://explorer.palladium-coin.com/" data-link="explorer" target="_blank" rel="noopener noreferrer">Explorer</a>
            <a class="navbar-item" href="donate.html">Donate</a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item is-hidden-touch" href="https://twitter.com/Palladium_coin" data-link="twitter" aria-label="Twitter">
                <i class="fab fa-lg fa-twitter"></i>
            </a>
            <a class="navbar-item is-hidden-touch" href="https://discord.com/invite/z2T8qvzeGc" data-link="discord" aria-label="Discord">
                <i class="fab fa-lg fa-discord"></i>
            </a>
            <a class="navbar-item is-hidden-touch" href="https://github.com/palladium-coin" data-link="repo-org" aria-label="GitHub">
                <i class="fab fa-lg fa-github"></i>
            </a>
            <div class="navbar-item navbar-cta">
                <div class="buttons">
                    <a class="button is-success" href="https://github.com/davide3011/PalladiumWallet/releases/latest" data-link="wallet-latest">
                        <span class="icon"><i class="fas fa-download"></i></span>
                        <span>Download Wallet</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
